<div>
    <h1> Listado de Productos </h1>
    <hr/>

    <div class="card mt-3 p-3">
        <h2>
            {{product.name}}
        </h2>

        <div>Categoria: {{product.category}}</div>
        <div>Descripcion: {{product.description}}</div>
        <div>Precio: {{product.price}}</div>
    </div>

    <button class="btn btn-primary mt-3" (click)="onGoBack()" > Go back</button>
</div>